@import "normalize.css";

.app {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: auto;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgb(216, 215, 215);
  /* display: flex;
   justify-content: space-evenly; */
}

.current-weather {
  width: 38%;
  height: 589px;
  background-color: rgb(79, 129, 144);
}

.weather-forecast {
  width: 62%;
  height: 589px;
  background-color: rgb(248, 175, 152);
}

.search-bar-wrapper {
  display: flex;
  border: solid red;
  justify-content: space-evenly;
}

.header-item-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2.6%;
}
.button {
  width: 80px;
}
